@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: 'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP',
    'Source Han Sans', 'BIZ UDPGothic', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', sans-serif, system-ui;
  --font-serif: 'Charis-Web', 'Times New Roman', 'Noto Serif JP',
    'Source Han Serif', 'BIZ UDPMincho', 'Hiragino Mincho ProN',
    'Hiragino Serif', serif, system-ui;
  --font-ipa: 'Charis-Web', serif, system-ui;
}

@layer base {
  html {
    -webkit-tap-highlight-color: revert;
  }

  body {
    @apply bg-slate-50 dark:bg-slate-950;
  }

  #md-root {
    @apply flow-root prose prose-slate prose-sm lg:prose-base dark:prose-invert
      w-full max-w-7xl px-4 mx-auto
      prose-a:hover:opacity-60;

    #title {
      @apply font-extralight text-center my-8;
    }

    :is(h2, h3, h4) {
      @apply font-normal;
    }

    :is(h5, h6) {
      @apply font-semibold;
    }

    table {
      @apply lg:max-w-max lg:me-auto text-sm;
    }

    :is(td, th) {
      @apply text-center;
    }

    :where(ul > li) > p {
      @apply my-2;
    }

    hr {
      @apply my-8;
    }
  }
}

@utility table-scrollable {
  @apply text-nowrap overflow-auto max-w-full;
}
