@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Helvetica Neue', 'Noto Sans JP',
    'Source Han Sans', 'BIZ UDPGothic', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', 'Noto Sans Canadian Aboriginal', sans-serif, system-ui;
  --font-serif:
    'Charis-Web', 'Times New Roman', 'Noto Serif JP', 'Source Han Serif',
    'BIZ UDPMincho', 'Hiragino Mincho ProN', 'Hiragino Serif', serif, system-ui;
  --font-ipa: 'Charis-Web', serif, system-ui;

  --default-transition-duration: 110ms;
  --color-mein-5: oklch(5% 0.0282 296.54);
  --color-mein-10: oklch(10% 0.0544 296.54);
  --color-mein-15: oklch(15% 0.0816 296.54);
  --color-mein-20: oklch(20% 0.1088 296.54);
  --color-mein-25: oklch(25% 0.1360 296.54);
  --color-mein-30: oklch(30% 0.1632 296.54);
  --color-mein-35: oklch(35% 0.1904 296.54);
  --color-mein-40: oklch(40% 0.2176 296.54);
  --color-mein-45: oklch(45% 0.2448 296.54);
  --color-mein-50: oklch(50% 0.2720 296.54);
  --color-mein-55: oklch(55% 0.2851 296.54);
  --color-mein-60: oklch(60% 0.2481 296.54);
  --color-mein-65: oklch(65% 0.2132 296.54);
  --color-mein-70: oklch(70% 0.1784 296.54);
  --color-mein-75: oklch(75% 0.1458 296.54);
  --color-mein-80: oklch(80% 0.1142 296.54);
  --color-mein-85: oklch(85% 0.0837 296.54);
  --color-mein-90: oklch(90% 0.0544 296.54);
  --color-mein-95: oklch(95% 0.0261 296.54);
  --color-side: var(--color-mein-95);
  --color-d-side: var(--color-mein-15);
  --color-main: #fff;
  --color-d-main: var(--color-mein-10);
  --color-text: #000;
  --color-d-text: #fff;
  --color-border: var(--color-slate-300);
  --color-d-border: var(--color-slate-600);
  --color-border-2: var(--color-slate-400);
  --color-d-border-2: var(--color-slate-500);
  --color-link: var(--color-blue-700);
  --color-d-link: var(--color-blue-400);
  --color-heading: var(--color-mein-20);
  --color-d-heading: var(--color-mein-90);
}

@utility cbg-* {
  background-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    background-color: --value(--color-d- *);
  }
}

@utility gbg-* {
  background-image: --value(--grad-*);

  @media (prefers-color-scheme: dark) {
    background-image: --value(--grad-d- *);
  }
}

@utility cborder-* {
  border-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    border-color: --value(--color-d- *);
  }
}

@utility ctext-* {
  color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    color: --value(--color-d- *);
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: revert;
  }

  body {
    @apply flow-root cbg-side ctext-text;
  }

  main {
    @apply flow-root w-full max-w-7xl px-4 mx-auto cbg-main min-h-lvh;

    > :where(:first-child) {
      @apply mt-6;
    }
  }

  h1#title {
    @apply text-4xl font-extralight text-balance my-10 text-center;
  }

  :is(h2, h3, h4) {
    @apply font-normal ctext-heading;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-lg;
  }

  :is(h5, h6) {
    @apply font-semibold text-base;
  }

  :is(h2, h3, h4, h5, h6, p, ul, ol, pre) {
    @apply mb-5;
  }

  :is(ul, ol) {
    @apply ps-7;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  li > :where(p, ul, ol) {
    @apply mb-1;
  }

  a {
    @apply ctext-link hover:underline;
  }

  table {
    @apply w-full lg:max-w-max lg:me-auto;

    :where(& > thead > tr:last-child) {
      @apply border-b cborder-border-2;
    }

    :where(& > :is(thead, tbody, tfoot) > tr:not(:last-child)) {
      @apply border-b cborder-border;
    }

    :where(td, th) {
      @apply text-base py-1.25 px-2.5;
    }
  }

  .table-container:has(> table) {
    @apply text-nowrap overflow-auto max-w-full my-8;
  }

  hr {
    @apply my-6 mx-auto w-full max-w-160 cborder-border;
  }

  .astro-code {
    @apply px-3 py-2 rounded my-8;
  }
}
