---
import HomeIcon from '../assets/HomeIcon.svg';
import { pageData, type PageData } from '../modules/data';

interface Props {
  readonly url: string;
}

interface MdProps {
  readonly url: string;
  readonly frontmatter: {
    readonly title: string;
    readonly description?: string;
  };
}

const values = Object.values(
  import.meta.glob<MdProps>('../pages/**/*.md', { eager: true }),
);

const mds: ReadonlyMap<string, PageData> = new Map(
  values.map((md) => {
    const { title, description } = md.frontmatter;
    return [md.url || '/', { title, description }];
  }),
);

const getTitle = (href: string) => {
  if (href === '/') {
    return null;
  }
  return mds.get(href)?.title ?? pageData.get(href)?.title ?? '[NO DATA]';
};

const { url } = Astro.props;
const dirs = url.split('/').filter((s) => s !== '');

const pages = dirs.map((_, i) => {
  const h_ = dirs.slice(0, i).join('/');
  const href = h_ === '' ? '/' : `/${h_}/`;
  const title = getTitle(href);
  return { href, title } as const;
});

const currentText = getTitle(url) ?? '[NO DATA]';
---

<nav class='breadcrumb' aria-label='パンくずリスト'>
  <ol>
    {
      pages.map(({ href, title }) => {
        return (
          <li>
            <a {href} title={title ?? 'Home'}>
              {title ?? <HomeIcon class='inline-4 block-auto' />}
            </a>
          </li>
        );
      })
    }
    <li>
      <a href='./' aria-current='page' tabindex='-1'>{currentText}</a>
    </li>
  </ol>
</nav>

<style lang="postcss">
  @reference '../styles/global.css';
  @layer components {
    .breadcrumb {
      @apply my-4 block;
    }

    ol {
      @apply list-none flex flex-wrap gap-2 ps-0 m-0;
    }

    li {
      @apply contents;
    }

    a,
    li:not(:first-child)::before {
      @apply flex-[unset] inline-max min-inline-0 leading-none;
    }

    a[aria-current="page"] {
      @apply font-semibold pointer-events-none text-text;
    }

    li:not(:first-child)::before {
      content: '>';
    }
  }
</style>
