---
import HomeIcon from '../assets/HomeIcon.svg';

interface Props {
  readonly url: string;
}

interface MdProps {
  readonly url: string;
  readonly frontmatter: {
    readonly title: string;
    readonly description?: string;
  };
}

const mds = Object.values(
  import.meta.glob<MdProps>('../pages/**/*.md', { eager: true }),
).map((md) => ({ url: md.url, title: md.frontmatter.title }) as const);

const getTitle = (href: string) => {
  if (href !== '/') {
    return mds.find((m) => m.url === href)?.title ?? '???';
  } else {
    return;
  }
};

const { url } = Astro.props;
const dirs = url.split('/').filter((s) => s !== '');

const pages = dirs.map((_, i) => {
  const h_ = dirs.slice(0, i).join('/');
  const href = h_ === '' ? '/' : `/${h_}/`;
  const title = getTitle(href);
  return { href, title } as const;
});

const currentText = getTitle(url);
---

<ol id='bread-crumb'>
  {
    pages.map(({ href, title }) => {
      return (
        <li>
          <a {href} title={title ?? 'Home'}>{title ?? <HomeIcon class='inline-block size-4 align-baseline' />}</a>
        </li>
      );
    })
  }
  <li>
    <b>{currentText}</b>
  </li>
</ol>

<style lang="postcss">
  @reference '../styles/global.css';
  @layer components {
    #bread-crumb {
      @apply list-none flex flex-wrap gap-2 ps-0;

      :where(li) {
        @apply contents;
      }

      :where(a, b), :where(li:not(:last-child))::after {
        @apply flex-[0_0_max-content] grid place-content-center;
      }

      :where(li:not(:last-child))::after {
        content: '>';
      }
    }
  }
</style>
