---
import '../styles/global.css';
import 'katex/dist/katex.min.css';

import Preloads from '../components/Preloads.astro';

interface Props {
  frontmatter: {
    readonly title: string;
  };
}

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <Preloads />
    <link rel='icon' href='/favicon.ico' />
    <link
      rel='stylesheet'
      href='https://api.tktb-tess.dev/fonts/Inter/font-face.css'
      crossorigin='anonymous'
    />
    <link
      rel='stylesheet'
      href='https://api.tktb-tess.dev/fonts/Charis/font-face.css'
      crossorigin='anonymous'
    />
    <meta name='generator' content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <div id='md-root'>
      <header>
        <h1 id='title'>
          {frontmatter.title}
        </h1>
      </header>
      <hr />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
